<!DOCTYPE html>
<html lang="en" ng-app="RegApp">
    <head>
        <title>Login</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/libs/bootstrap/dist/css/bootstrap.css">
		<link rel="stylesheet" href="/libs/font-awesome/css/font-awesome.css">

		<script src="/libs/jquery/dist/jquery.js"></script>
		<script src="/libs/bootstrap/dist/js/bootstrap.js"></script>
		<script src="/libs/angular/angular.js"></script>
		
        <!--link to index.js file-->
        <script src="/index.js"></script>

    </head>

    <body ng-controller="RegCtrl as regCtrl">
        <div class="container">
            <h3>User Registration Form</h3>
            
            <form name="regForm" novalidate>
              <table class="table table-bordered">
                                
                <div class="form-group">
                    <tr class="form-group">
                        <td><label for="email">Email : </label></td>
                        <td><input type="email" class="form-control" name="email" required ng-model="regCtrl.email"></td>
                    </tr>                    
                </div>

                <div class="form-group">
                    <tr class="form-group">
                        <td><label for="Password">Password : </label></td>
                        <td><input type="password" class="form-control" name="email" required ng-model="regCtrl.password"></td>
                    </tr>    

                </div>
                <div class="form-group">
                    <tr class="form-group">
                        <td><label for="name">Name : </label></td>
                        <td><input type="text" class="form-control" name="email" required ng-model="regCtrl.name"></td>
                    </tr>        
                </div>

                <div class="form-group">
                    <tr>
                        <td> <label for="gender">Gender:</label> </td>
                        <td>                
                            <div class="radio">
                                <label>
                                    <input type="radio" name="Gender" value="male" required
                                        ng-model="regCtrl.gender">
                                    <code>Male</code>
                                </label>
                                <label>
                                    <input type="radio" name="Gender" value="female" required
                                        ng-model="regCtrl.gender">
                                    <code>Female</code>
                                </label>
                            </div>
                        </td>
                    </tr>
				</div>

                <div class="form-group">
                    <tr class="form-group">
                        <td><label for="dob">Date of Birth : </label></td>
                        <td><input type="date" class="form-control" name="email" required ng-model="regCtrl.dob"></td>
                    </tr>    
                </div>
                <div class="form-group">
                    <tr class="form-group">
                        <td><label for="address">Address : </label></td>
                        <td><input type="text" class="form-control" name="email" required ng-model="regCtrl.addr"></td>
                    </tr>    
                </div>
                <div class="form-group">
                    <tr class="form-group">
                        <td><label for="ctry">Country : </label></td>
                        <td><input type="text" class="form-control" name="email" required ng-model="regCtrl.ctry"></td>
                    </tr>    
                </div>
                <div class="form-group">
                    <tr class="form-group">
                        <td><label for="contact">Contact : </label></td>
                        <td><input type="text" class="form-control" name="email" required ng-model="regCtrl.contact"></td>
                    </tr>    
                </div>

                
              </table>                                                                                                      
              
                <div class="form-group">
                    <tr class="form-group">
                        <button type="submit" class="btn btn-success form-control" ng-disabled="regForm.$invalid"
						   ng-click="regCtrl.register()">
						<i class="fa fa-floppy-o"></i>
						Click to Register
					    </button>
                    </tr>    
                </div>  
                <div class="form-group">
                    <span id="helpBlock" class="help-block" ng-show="regForm.$invalid">
                    Please check all entries and enter correctly
                    </span>
                </div>

            </form>

           
                <!--<p ng-model=regCtrl.thanks >{{regCtrl.thanks}} </p>-->

           





        </div>    
    







    </body>
</html>